/* MAIN STYLES */

body {
    max-width: 1200px; 
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
}

h2 {
    color: #689cf2; 
    padding-left: 20px; 
}

p {
    text-align: justify;
    line-height: 1.5; 
    padding-left: 20px; 
}

/* HEADER */
.main-header {
    margin top: 10px;
    position: relative;
    height: 70px; 
    box-sizing: border-box; 
    border-bottom: 5px solid #689cf2; 
    
}

.right-header-text {
    background-color: #f7f2e8;
    margin-left: 530px;
    width: 670px;
    height:inherit;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px; 
    box-sizing: border-box; 
    padding: 15px;
}

.left-header-logo {
    float:left; 
    position: absolute;
    margin-left: 20px;
    margin-top: 25px; 
}

/* NAV */

.main-nav {
   width: 1200px;
background-color: #b5ad9f; 
    height: 60px; 
    margin-top: -3px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    border-top: 5px solid #689cf2;
    padding: 
    box-sizing: border-box; 
}

.nav-pages {
    box-sizing: border-box; 
    
}

ul {
    
    list-style-type: none;
}
 
ul> li {
    display: inline-block; 
    padding: 15px; 
    margin-right: 20px; 
}

ul a {
    text-transform: uppercase; 
    text-decoration: none; 
    color:aliceblue; 
    text-shadow: 3px 3px 2px #5b5956;
    
}

/* DEAL PAGE */

.deal-page {
    box-sizing: border-box; 
}

.top-deal-page {
    box-sizing: border-box; 
    width: 1200px; 
    
}

.top-deal-page-photo {
    float: left; 
    height: 255px;
    border-bottom-right-radius: 30px; 
    box-sizing: border-box;
   
    
}

.left-deal-page-text {
    background-color: #f7f2e8;
    width: 670px;   
    float: left; 
    background-color: #f7f2e8;
    box-sizing: border-box; 
    padding: 15px;
    height: 255px;
    
}

.bottom-deal-page {
    clear: both; 
    background-color: #f7f2e8; 
    height: 100px; 
    box-sizing: border-box; 

}

.right-car-text {
     background-color: #f7f2e8;
    box-sizing: border-box; 
    float: left; 
    padding-top: 15px;
    height: 100px; 
    padding-right: 80px;
    
    
}
.car-images {
    background-color: #f7f2e8;
    box-sizing: border-box; 
    padding: 15px;
    height: 100px; 
    
}

.car {
    clear: both; 
    padding-top: 15px; 
    padding-right: 35px; 
    
}
    
/* CONTENT PAGE */
. content-page {
    box-sizing: border-box; 
    width: 1200px; 
    height: 700px;
}
    
}

.content-column {
    display: inline-block
    width: 300px; 
}
/*FOOTER*/
footer {
    background-color: #b5ad9f; 
}